results/training*
results/paper_verification.csv
results/*_log.txt
results/*_output.txt
plots/
generator/eval_data/
.DS_Store
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.aux
*.log
*.spl
*.synctex.gz
*.dvi
*.fdb_latexmk
*.fls
*.out
*.toc